<header>
  <div class="title-container">
    <h1 routerLink="/" class="clickable">{{ title }}</h1>
    <div mdbDropdown [animation]="false" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownExampleAnimation" mdbDropdownToggle aria-expanded="false">
        Dropdown button
      </button>
      <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownExampleAnimation">
        <li><a class="dropdown-item" href="#">View profile</a></li>
        <li><a class="dropdown-item" href="#">Messages</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
    <div class="buttons">
        <!-- save this for edit post -->
        <!-- <button class="btn btn-primary" style="width: 200px" (click)="openModal()">Create Post</button> -->
        <button class="btn btn-primary" style="width: 200px" routerLink="/create-post">Create Post</button>
        <div class="input-group">
            <mdb-form-control>
            <input mdbInput type="search" id="form1" class="form-control"  [(ngModel)]="searchTerm" (keyup)="onSearchKeyUp($event)"/>
            <label mdbLabel class="form-label" for="form1">Search</label>
            </mdb-form-control>
            <button type="button" class="btn btn-primary"  routerLink="/search" [queryParams]="{ query: searchTerm }">
            <i class="fas fa-search"></i>
            </button>
        </div>
      </div>
      <p>{{ products }}</p>
    <!-- <app-inventory></app-inventory> -->
</header>