header {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center; /* optional: align items to center horizontally */
    padding-bottom: 2rem;
}

.input-group {
    justify-content: right;
}

.buttons {
    display: flex;
}

h1 {
    /* padding-top: 2rem; */
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .title-container h1 {
    /* flex-grow: 1; */
    /* transform: translateX(92.75px) */
  }
  
  .dropdown {
    margin-left: auto;
  }