header {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center; /* optional: align items to center horizontally */
}

.input-group {
    justify-content: right;
}

.buttons {
    display: flex;
}