h1 {
    padding-top: 2rem;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

h2 {
    padding-bottom: 2rem;
}

mdb-form-control {
    margin-bottom: 2rem;
}

mat-form-field {
    margin-bottom: 2rem;
}

.submit {
    text-align: center;
    margin-top: 6rem;
}

.btn-lg {
    font-size: 1rem;
}

.card-details {
    margin-left: 4vw;
}

.creating-card {
    width: 20vw;
    margin-left: 10vw;
}
