<!-- <div class="modal-header" style="height: 7vh;">
  <h5 class="modal-title" id="exampleModalLabel">Post a product</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div> -->
  <div class="row">
    <div class="col-md-9 img-container" style="height: 100vh; background-image: url({{imageUrl}}); background-size: cover; position: relative; display: flex;">
      <button
  type="button"
  class="btn-close"
  aria-label="Close"
  (click)="closeModal()"
  style="position: absolute; top: 10px; left: 20px; z-index: 2;"
></button>
      <div id="blur-background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; backdrop-filter: blur(30px); background-color: rgba(0, 0, 0, 0.3);">
      </div>
      <img class="img-fluid" [src]="imageUrl"/>
    </div>
    <div class="col-md-3 detail-container">
      <h2><b>{{title}}</b></h2>
      <h3>{{price}}</h3>
      <h3>{{description}}</h3>
      <div>
        <h2>Seller: {{email}}</h2>
      </div>
    </div>
  </div>

      <!-- <img src="https://c4.wallpaperflare.com/wallpaper/439/787/759/basketball-basketball-court-hoop-city-wallpaper-preview.jpg"/> -->

    
      

