<!-- <div class="card">
  <div class="image-content">
      <div class="card-image">
          <img [src]="getImageUrl()" alt="" class="card-img" *ngIf="productImage">
      </div>
  </div>

  <div class="card-content">
      <h2 class="name">{{title}}</h2>
      <p class="description">{{description}}</p>

  </div>
</div> -->
<div class="card">
  <img [src]="imageUrl" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <!-- <a href="#!" class="btn btn-primary">Button</a> -->
    <div class="card-footer">
      <h5>{{price}}</h5>
    </div>
  </div>
</div>