
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 10px 14px;
  height: 10rem;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image{
  position: relative;
  height: 9rem;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}



/* @media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
} */