/* 
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{

  align-items: center;
  padding: 10px 14px;
  height: 10rem;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image{
  position: relative;
  height: 9rem;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}


 */

 .card-img-top {
  height: 230px; /* Set a fixed height */
  object-fit: cover; /* Prevent the card from shrinking */
}

.card-body {
  min-height: 184px;
}

.card-footer {
  position: absolute; /* Position the footer element absolutely within the card */
  bottom: 0; /* Align the footer element to the bottom of the card */
  right: 0; /* Align the footer element to the right of the card */
  border: 0;
}

.card a {
  color: rgb(79,79,79) !important;
}
