<div class="card">
  <div class="image-content">
      <div class="card-image">
          <img src="images/profile1.jpg" alt="" class="card-img">
      </div>
  </div>

  <div class="card-content">
      <h2 class="name">David Dell</h2>
      <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

  </div>
</div>
<!-- <div class="card" >
  <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> -->