<!-- <h1>{{ title }}</h1> -->
<div mdbDropdown [animation]="false" class="dropdown" *ngIf="userService.signedIn; else signedOut">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownExampleAnimation" mdbDropdownToggle aria-expanded="false">
      {{userService.email}}
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownExampleAnimation">
      <li><a class="dropdown-item" >View profile</a></li>
      <li><a class="dropdown-item" routerLink="/edit-profile" >Edit Profile</a></li>
      <li><a class="dropdown-item" routerLink="/messages" >Messages</a></li>
      <li><a class="dropdown-item" (click)="handleSignout()" >Logout</a></li>
    </ul>
</div>

<ng-template #signedOut>
<div class="signup-buttons">
  <button class="btn btn-primary sign-in" routerLink="/sign-in">
    Sign in
  </button>
  <button class="btn btn-primary sign-up" routerLink="/sign-up">
    Sign up
  </button>
</div>
</ng-template>



<div class="container">
    <router-outlet></router-outlet>
</div>
