#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    /* padding-top: 2rem; */
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.verification {
    justify-content: center;
    text-align: center;
}

.verify-box {
  width: 450px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #000;
  text-align: center;
}