h1 {
    text-align: center;
}

.messages-container {
    display: flex;
    height: 85vh
}

.chat-list {
    width: 40%;
    margin: 16px;
    background: #c5cae9;
    border-radius: 16px;
}

.messages {
    width: 60%;
    margin: 16px;
    border-radius: 16px;
}

.search-input {
    margin: 24px;
}

.chat-title {
    display: flex !important;
    justify-content: space-between;
}

.chat-name {
    font-weight: 500;
    text-transform: capitalize;
}

.chat-date {
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.7);
}

.chat-last-message {
    font-size: .9rem;
    color:rgba(0, 0, 0, 0.8);
}

p {
    margin-top: 1em;
    line-height: .1;
    margin-bottom: 1em;
}