<div style="display: flex; align-items: center;" class="inventory">
  <!-- <h2>es</h2> -->
    <i class="fa fa-chevron-left swiper-button-left prev-slide-button swiper-button-color {{category}}" style="cursor: pointer;"></i>
    <!-- <i class="fas fa-chevron-left"></i> -->
<swiper-container
init="false"
id={{category}}
>
<swiper-slide *ngFor="let product of products">
  <app-product [product]="product"></app-product>
</swiper-slide>
  <!-- <swiper-slide>
    <app-product></app-product>
  </swiper-slide> -->

</swiper-container>
<i class="fas fa-chevron-right swiper-button-right next-slide-button swiper-button-color {{category}}" style="cursor: pointer;"></i>
</div>


