<div style="display: flex; align-items: center;" class="inventory">
  <!-- <h2>es</h2> -->
    <i class="fa fa-chevron-left prev-slide-button swiper-button-color" style="cursor: pointer;"></i>
    <!-- <i class="fas fa-chevron-left"></i> -->
<swiper-container
init="false"
id="textbooks"
>
<!-- <div slot="container-start">
  
    <div class="swiper-button-prev swiper-navBtn"></div>
</div>
  <div slot="container-end">
    <div class="swiper-button-next swiper-navBtn"></div>
  </div> -->
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
  <swiper-slide>
    <app-product></app-product>
  </swiper-slide>
</swiper-container>
<i class="fas fa-chevron-right next-slide-button swiper-button-color" style="cursor: pointer;"></i>
<!-- <div class="swiper-button-next swiper-navBtn"></div> -->
<!-- <div class="swiper-button-prev swiper-navBtn"></div> -->
<!-- <h2>es</h2> -->
</div>


